*.a
*.b
*.o
*.exe
*.obj
*.dll
*.lib
*.out
*.suo
*~
*.swp
*.swo
*.bak
*.orig
*.pdb
*.idb
*.ilk
*.gcov
*.gcda
*.gcno
*.gch
*.gch.d
*.stackdump
*.manifest
.ccache
.xmake
build
.svn
.DS_Store
cscope.*
gmon.out
tags
Doxyfile
.vscode
.idea
CMakeLists.txt
Makefile
makefile
